body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

header {
    background-color: #333;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-around;
    flex-wrap: nowrap;
    overflow-x: auto; /* Allows horizontal scrolling if needed */
}

nav ul li {
    margin: 0 5px; /* Adjusted value to add padding between links */
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    padding: 8px 16px;
    transition: background-color 0.3s;
}

nav ul li a:hover {
    background-color: #575757;
}

section {
    padding: 100px 50px;
    text-align: center;
    margin-top: 40px; /* Adjusted this value to reduce space */
}

.heading-container {
    opacity: 0;
    animation: fadeIn 2s forwards;
}

@keyframes fadeIn {
    to {
        opacity: 1;
    }
}

.gallery-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 10px;
    justify-items: center;
}

.gallery-container img {
    width: 100%;
    height: auto;
    max-width: 300px;
}

/* Specific styles for About Me section */
#about {
    padding-left: 100px; /* Adjust the value to increase left padding */
    padding-right: 100px; /* Adjust the value to increase right padding */
}

/* Responsive layout */
@media (max-width: 768px) {
    nav ul {
        flex-direction: row;
        justify-content: flex-start; /* Aligns items to the start */
    }

    nav ul li {
        margin: 5px; /* Adjusted value for smaller screens */
    }

    section {
        padding: 20px;
        margin-top: 80px; /* Ensure consistent spacing on smaller screens */
    }
}
